 
 

 h1 {
  text-align:center;
 }
 body {
                font-family: Helvetica;
                color: black;
                background-color: teal;
                font-size: 96;
                
}
